/** Common styles **/
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,700);
html, body {
  background-color: #bfbfbf;
  color: #000;
  height: 100%;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}

body {
  font-size: 16px;
}

a:focus, button:focus {
  outline: 0 !important;
}

a {
  color: #333;
  text-decoration: none;
}

a:hover, a:focus {
  color: #fff;
  text-decoration: none;
}

p, h1, h2, h3, h4 {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  padding: 0;
}

.btn {
  font-size: 14px;
  text-transform: uppercase;
  padding: 10px 30px;
  border: 2px solid #329063;
  border-radius: 0;
  font-weight: 700;
  opacity: 1;
  color: #329063;
  font-size: 12px;
}

.btn:hover {
  opacity: .8;
}

.phone-wrapper, .description {
  width: 50%;
  float: left;
}

@media (max-width: 479px) {
  .phone-wrapper, .description {
    width: 100%;
  }
}

.container-phone {
  border: 3px solid #ccc;
  float: left;
  border-radius: 40px;
  float: right;
  margin-top: 30px;
}

@media (max-width: 479px) {
  .container-phone {
    margin: 0;
    border-radius: 0;
    border: 0;
    width: 100%;
  }
}

.container-phone .content {
  margin: 40px 10px 60px 10px;
  background: #ccc url("../img/1-BG.jpg") no-repeat center;
  background-size: cover;
  width: 280px;
  height: 497px;
  position: relative;
  border-radius: 2px;
  padding: 5px 10px;
}

@media (max-width: 479px) {
  .container-phone .content {
    width: 100%;
    margin: 0px;
    min-height: calc(100vh - 20px);
  }
}

.description {
  margin-top: 60px;
  float: left;
  width: 400px;
  max-width: 100%;
  min-height: 490px;
  margin-left: 30px;
  font-size: 13px;
  font-weight: 400;
}

.description hr {
  border-top: 2px solid #a8a8a8;
}

.description strong {
  color: #555;
}

@media (max-width: 479px) {
  .description {
    width: 100%;
    margin-left: 0px;
    padding: 15px;
  }
}

.description h1 {
  display: block;
  width: 100%;
  padding: 20px 0;
  font-size: 20px;
}

.description .previous-next {
  display: block;
  float: left;
  padding: 6px;
  text-align: center;
  background-color: #A8A8A8;
  color: #333;
  margin: 15px 2px;
  width: 110px;
}

.page-content-wrapper {
  float: left;
  width: calc(100% + 20px);
  margin: -5px -10px -5px -10px;
  background-color: white;
  padding: 15px;
  min-height: 60%;
}

.page-content-wrapper a:hover, .page-content-wrapper a:focus {
  color: #329063;
  text-decoration: none;
}

.page-content-wrapper h2 {
  color: #329063;
  font-size: 22px;
  padding: 10px 0;
}

.page-content-wrapper input {
  border: 0;
  background-color: #eaeaea;
  font-size: 14px;
  height: 38px;
  padding: 10px;
}

.page-content-wrapper .full-block {
  display: block;
  width: 100%;
  float: left;
}

header {
  float: left;
  height: 42px;
  width: calc(100% + 20px);
  margin: -5px -10px 0px -10px;
  color: white;
}

header .logo {
  float: left;
  background: url("../img/logo.png") no-repeat 5px 8px;
  background-size: 110px auto;
  width: 45%;
  height: 42px;
  margin: 0;
}

header .colected-points {
  font-size: 22px;
  line-height: 1;
}

header .colected-points:hover {
  color: white;
}

header .arrow-back {
  background: url("../img/arrow-back.png") no-repeat 100px center;
  background-size: 25px auto;
}

header a {
  color: white;
  font-size: 13px;
}

header .right-header-block {
  float: right;
  width: 50%;
  text-align: right;
  padding: 7px 10px;
  height: 40px;
}

@-webkit-keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes escape-left {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    left: -100px;
  }
}

@keyframes escape-left {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    left: -100px;
  }
}

@-webkit-keyframes comefrom-left {
  0% {
    opacity: 0;
    left: -100px;
  }
  100% {
    opacity: 1;
    left: -65px;
  }
}

@keyframes comefrom-left {
  0% {
    opacity: 0;
    left: -100px;
  }
  100% {
    opacity: 1;
    left: -65px;
  }
}

/*
   NoTo Sans
*/
@font-face {
  font-family: 'NotoSansBold';
  font-weight: normal;
  font-style: normal;
  src: url("fonts/NotoSans-Bold-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/NotoSans-Bold-webfont.woff") format("woff"), url("fonts/NotoSans-Bold-webfont.ttf") format("truetype"), url("fonts/NotoSans-Bold-webfont.svg#noto_sansbold") format("svg");
}

@font-face {
  font-family: 'NotoSans';
  font-weight: normal;
  font-style: normal;
  src: url("fonts/NotoSans-Regular-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/NotoSans-Regular-webfont.woff") format("woff"), url("fonts/NotoSans-Regular-webfont.ttf") format("truetype"), url("fonts/NotoSans-Regular-webfont.svg#noto_sansregular") format("svg");
}

/** Sections styles 
@import "scss/sections/hosting";
**/
/** Pages styles **/
.home-page .logo {
  background: url("../img/logo.png") no-repeat center;
  background-size: 200px auto;
  width: 100%;
  height: 50px;
  margin: 190px 0 120px 0;
}

.about-erid {
  opacity: .7;
}

.about-erid:hover {
  color: white;
  opacity: 1;
}

.btn.signin-btn {
  border: 2px solid white;
  color: white;
  width: 88%;
  margin: 0 6%;
  background: url("../img/whitelocker.png") no-repeat 10px 7px;
  background-size: 20px auto;
}

.sub-btn-txt {
  display: block;
  float: left;
  width: 100%;
  color: #fff;
  font-size: 13px;
  text-align: center;
  padding: 10px;
  text-decoration: underline;
  font-weight: 400;
}

.sub-btn-txt:hover {
  color: #fff;
}

.description img {
  max-width: 60px;
}

.description .status-info {
  background: #ccc;
  font-size: 12px;
  padding: 10px;
  border: 1px solid #A4A4A4;
}

.register-description {
  font-size: 10px;
  font-weight: 400;
  color: #333;
}

.form-block {
  float: left;
  width: 100%;
  margin-top: 15px;
}

.form-block .marker-circle {
  display: block;
  float: left;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  line-height: 1;
  text-align: center;
  background: #329063;
  color: white;
  font-weight: 700;
  font-size: 9px;
  padding-top: 5px;
  margin-bottom: 10px;
}

.form-block .marker-circle.marker-place {
  background: url("../img/greenmarker.png") no-repeat -5px -2px;
  background-size: 32px;
  width: 20px;
  height: 28px;
  border-radius: 0;
  padding-top: 6px;
  margin-top: -5px;
  margin-bottom: 0;
}

.form-block .marker-circle-description {
  float: left;
  width: calc(100% - 20px);
  font-size: 10px;
  padding: 0px 0px 0px 10px;
  font-weight: 300;
  color: #333;
  height: 30px;
  line-height: 1.2;
}

.form-block .marker-circle-description strong {
  color: #555;
}

.form-block .marker-circle-description.marker {
  height: 27px;
}

.form-block input {
  width: 48%;
  float: left;
  margin-right: 3px;
}

.form-block.add-photo .marker-circle-description {
  float: right;
  width: calc(100% - 100px);
}

.form-block.add-photo .image-placeholder {
  width: 90px;
  height: 90px;
  background: url("../img/blank-ph.png") no-repeat 0 0;
  background-size: cover;
}

.form-block.add-photo .show-profile {
  padding: 6px 30px;
  margin-top: 8px;
}

.show-profile, .big-btn {
  float: left;
  width: 100%;
  margin-top: 15px;
}

.before-btn {
  margin-top: 10px;
  margin-bottom: -10px;
  float: left;
}

.photo-id {
  float: left;
  width: 100%;
  margin-bottom: 10px;
  background: url("../img/graylocker.png") no-repeat -5px -4px;
  background-size: 20px auto;
  position: relative;
}

.photo-id img {
  display: block;
  float: left;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-left: 5px;
}

.photo-id .edit-profile {
  float: right;
  font-size: 12px;
  background: url("../img/edit-ico.png") no-repeat right 2px;
  background-size: 14px auto;
  padding: 3px 18px 0 0;
  color: #329063;
  line-height: 1;
  height: 20px;
  font-weight: 400;
}

.photo-id .QRcode {
  display: block;
  float: right;
  height: 40px;
  width: 40px;
  background: url("../img/svg/qr-icon.svg") no-repeat 0 0;
  background-size: cover;
  position: absolute;
  right: 0;
  bottom: 0;
}

.info-id {
  margin-bottom: 35px;
}

.info-id h4 {
  font-size: 12px;
}

.info-id .location {
  background: url("../img/greenmarkerdot.png") no-repeat -3px -1px;
  background-size: 20px auto;
  padding: 3px 0 0 17px;
  height: 30px;
}

.vrifications-type-list {
  font-size: 12px;
  line-height: 1;
}

.vrifications-type-list h3 {
  font-size: 13px;
  padding: 2px;
  font-weight: 400;
}

.vrifications-type-list h3 span {
  color: #329063;
  text-align: right;
  display: inline-block;
  float: right;
}

.vrifications-type-list h4 {
  font-size: 13px;
  float: left;
  padding: 2px;
  font-weight: 400;
}

.vrifications-type-list .line-block {
  float: left;
  width: 100%;
  padding: 10px 0;
  display: block;
  border-bottom: 1px solid #ddd;
  height: 40px;
}

.vrifications-type-list .line-block h4 {
  padding-top: 2px;
}

.vrifications-type-list .line-block .counter-value {
  float: right;
  color: #329063;
  padding: 3px 2px;
  font-weight: 400;
}

.vrifications-type-list .line-block .notification-value {
  float: right;
  background: #329063;
  width: 16px;
  height: 16px;
  text-align: center;
  color: white;
  border-radius: 50%;
  padding-top: 3px;
  font-size: 9px;
  font-weight: 700;
  margin: 2px 5px;
}

.hosting-event {
  height: 100%;
  position: relative;
  padding-bottom: 60px;
}

.hosting-event .photo-id {
  display: block;
  border-radius: 50%;
  max-width: 60px;
}

.hosting-header .header-title {
  max-width: 60%;
  float: left;
}

.hosting-header h2 {
  color: #333;
  font-size: 22px;
}

.hosting-header .rules-game {
  font-size: 10px;
  color: #329063;
  font-weight: 700;
  background: url("../img/doc.jpg") no-repeat 0 0;
  background-size: 10px auto;
  padding: 0 0 0 14px;
}

.hosting-header .watchman {
  float: right;
  max-width: 30%;
  text-align: center;
  font-size: 10px;
  line-height: 1.2;
}

.hosting-header .watchman .photo-id {
  margin-left: 10px;
  margin-bottom: 5px;
}

.blink-text {
  font-size: 10px;
  animation: blinker 1s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0.0;
  }
}

.chat-area {
  float: left;
  width: 100%;
  margin-top: 30px;
}

.chat-area .one-message {
  display: block;
  float: left;
  width: 100%;
  font-size: 12px;
}

.chat-area .one-message img {
  margin-right: 10px;
}

.chat-area .one-message h4 {
  font-size: 10px;
  padding: 4px 0 6px 0;
  font-weight: 700;
}

.chat-area .one-message h4 span {
  font-weight: 400;
}

.chat-area .one-message h4 span span {
  color: #329063;
}

.chat-input {
  float: left;
  display: block;
  width: calc(100% - 20px);
  position: absolute;
  bottom: 0;
  left: 10px;
  height: 60px;
  border-top: 2px solid #ddd;
  font-size: 14px;
  padding: 10px 2px;
}

.chat-input .submit-message {
  display: block;
  float: right;
  background: #329063 url("../img/arrow-top.png") no-repeat center;
  background-size: 15px auto;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin: -3px 0 0px 10px;
}

.form-block .line-block {
  float: left;
  width: 100%;
  padding: 10px 0;
  display: block;
  min-height: 40px;
  font-size: 12px;
  line-height: 1;
}

.form-block .line-block:last-child {
  border-bottom: 1px solid #ddd;
}

.form-block .line-block h4 {
  font-size: 13px;
  float: left;
  padding: 2px;
  font-weight: 400;
  min-width: 60px;
}

.form-block .line-block .counter-value {
  float: right;
  color: #329063;
  padding: 3px 2px;
  font-weight: 400;
}

.form-block .line-block .radio-btn {
  float: left;
  width: 18px;
  height: 18px;
  border: 2px solid #ccc;
  position: relative;
  border-radius: 50%;
  margin-right: 5px;
}

.form-block .line-block .radio-btn.marked:after {
  content: " ";
  display: block;
  width: 8px;
  height: 8px;
  background: #329063;
  border-radius: 50%;
  margin: 3px;
}

.form-block .line-block .like-input {
  float: left;
  width: 100%;
  height: 35px;
  border: 2px solid #999;
}

@media (max-width: 479px) {
  .about-page {
    width: 100%;
    padding: 0;
  }
}

.about-page .about_description {
  float: left;
  background: #ddd;
}

@media (max-width: 1199px) {
  .about-page .about_description {
    width: 800px;
    padding: 20px 60px 20px 120px;
  }
}

@media (max-width: 479px) {
  .about-page .about_description {
    width: 100%;
    padding: 15px;
  }
}

.about-page .about_description .border {
  border: 0;
}

.about-page .about_description b, .about-page .about_description strong {
  font-weight: 400;
}

.about-page .about_description h1 {
  color: #329063;
  padding: 70px 0 30px 0;
}
